---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Ableton">
    <h1 class="text-4xl text-purple font-futura">Prueba</h1>
    <h1 class="text-3xl text-yellow font-futura-medium">Prueba</h1>
    <h1 class="text-2xl text-green font-futura-medium-oblique">Prueba</h1>
</Layout>