
<footer class="w-full h-auto py-32 px-60 flex flex-col items-start justify-center gap-y-20 border-t-2 border-t-gray-200 mt-20">
    <h1 class="font-extrabold text-5xl text-black font-futura">Ableton</h1>
    <div class="w-full flex items-start justify-between">
        <div class="w-1/3 flex flex-col items-start justify-start">
            <ul class="w-full flex flex-col">
                <li><a href="" class="text-sm font-futura font-light after:content-['›']">Register Live or Push </a></li>
                <li><a href="" class="text-sm font-futura font-light after:content-['›']">About Ableton</a></li>
                <li><a href="" class="text-sm font-futura font-light after:content-['›']">Jobs</a></li>
            </ul>
        </div>
        <div class="w-1/3 flex flex-col items-start justify-start">
            <ul>
                <li><h3 class="font-semibold text-lg text-black font-futura">Education</h3></li>
                <li><a href="" class="text-sm font-futura font-light after:content-['›']">Offers for students and teachers</a></li>
                <li><a href="" class="text-sm font-futura font-light after:content-['›']">Ableton for the Classroom
                </a></li>
                <li><a href="" class="text-sm font-futura font-light after:content-['›']">Ableton for Colleges and Universities</a></li>
            </ul>
        </div>
        <div class="w-1/3 flex flex-col items-start justify-start gap-y-1">
            <h3 class="font-semibold text-lg text-black font-futura">Sign up to our newsletter</h3>
            <p class="text-sm font-futura font-light">Enter your email address to stay up to date with the latest offers, tutorials, downloads, surveys and more.</p>
            <form action="/" class="w-full flex items-center justify-center">
                <input type="email" name="signup" id="signup" class="w-4/6 h-9 px-2 bg-gray-200/70 placeholder:text-gray-500 placeholder:px-4 font-futura" placeholder="Email Address">
                <button class="w-2/6 bg-blue h-9 text-white font-semibold">Sign up</button>
            </form>
        </div>
    </div>
    <div class="w-full flex items-start justify-start">
        <div class="w-1/3 flex flex-col items-start justify-start">
            <ul class="w-full flex flex-col">
                <li><h3 class="font-semibold text-lg text-black font-futura">Community</h3></li>
                <li><a href="" class="text-sm font-futura font-light after:content-['›']">Find Ableton User Groups </a></li>
                <li><a href="" class="text-sm font-futura font-light after:content-['›']">Find Certified Training </a></li>
                <li><a href="" class="text-sm font-futura font-light after:content-['›']">Become a Certified Trainer </a></li>
            </ul>
        </div>
        <div class="flex flex-col items-start justify-start gap-y-2">
            <h3 class="font-semibold text-lg text-black font-futura">Language and Location</h3>
            <div class="flex items-start justify-start gap-x-0.5">
                <select name="" id="" class="w-32 h-6 px-2 bg-gray-200/70 font-futura text-xs">
                    <option value="">Spanish</option>
                </select>
                <select name="" id="" class="w-32 h-6 px-2 bg-gray-200/70 text-xs font-futura">
                    <option value="">Cuba</option>
                </select>
            </div>
        </div> 
    </div>
    <div class="w-full flex items-center justify-between">
        <ul class="flex items-center justify-between gap-x-2">
            <li class="text-xs font-futura font-light text-black">Contact Us</li>
            <li class="text-xs font-futura font-light text-black">Press Resources</li>
            <li class="text-xs font-futura font-light text-black">Legal Info</li>
            <li class="text-xs font-futura font-light text-black">Privacy Policy</li>
            <li class="text-xs font-futura font-light text-black">Cookie Settings</li>
            <li class="text-xs font-futura font-light text-black">Imprint</li>
        </ul>
        <div class="flex items-center justify-between gap-x-2">
            <span class="text-xs font-futura font-light text-black">Made in Berlin</span>
            <img src="./images/Logo.svg" alt="Logo svg">
        </div>
    </div>
    <span class="text-xs font-futura font-light text-black self-center">Developed by Dano (2023) for a programming challenge in <a href="https://www.frontendpractice.com/projects" class="text-blue">Frontend Practice</a> platform 💙</span>
</footer>