---
import { Image } from "astro:assets";
import p3 from "@public/images/photo-3.webp"
import p7 from "@public/images/photo-7.webp"
---

<section class="relative flex items-center justify-center w-screen h-screen my-24">
    <div class="flex flex-col items-center justify-center w-2/3 h-screen p-8 bg-lavender gap-y-16">
        <Image src={p3} alt="Promo image 3" width={p3.width*0.8} height={p3.height*0.8} class="absolute left-10"/>
        <Image src={p7} alt="Promo image 4" width={p7.width} height={p7.height} class="absolute right-0"/>
    </div>
</section>
<div class="flex flex-col items-center justify-center max-w-2xl mx-auto mb-24 gap-y-8">
    <h2 class="text-[1.675rem] font-black leading-relaxed tracking-normal font-futura text-left">We want our employees to love it here. Since we’re looking for exceptional talent from around the world, we will do everything we can to make your transition as easy as possible.</h2>
    <p class="text-[1.1rem] font-light leading-relaxed tracking-normal font-futura text-left">If you're joining us in Berlin, we'll help with relocation and paperwork. We’ll even provide you with free German or English lessons. Plus, working in Germany means you can expect comprehensive health insurance for you and your family, as well as generous maternity and paternity leave. Office hours are flexible, but it’s not all work; we have several company and team outings throughout the year as well as a variety of fun, informal small-group activities.</p>
</div>