---
import { Image } from "astro:assets";
import p3 from "@public/images/photo-3.webp"
import p4 from "@public/images/photo-4.webp"
import p5 from "@public/images/photo-5.webp"
---

<section class="relative flex items-center justify-between w-screen h-screen my-48">
    <div class="flex flex-col items-center justify-center w-2/3 h-auto p-8 bg-green gap-y-16">
        <Image src={p3} alt="Promo image 3" width={p3.width*0.8} height={p3.height*0.8} />
        <Image src={p4} alt="Promo image 4" width={p4.width*0.8} height={p4.height*0.8} />
    </div>
    <div class="w-1/3 h-full">
        <Image src={p5} alt="Promo image 4" width={p5.width*0.8} height={p5.height*0.8} class="absolute top-0 right-20"/></div>
</section>
<div class="flex flex-col items-center justify-center max-w-2xl mx-auto mb-24 gap-y-8">
    <h2 class="text-[1.675rem] font-black leading-relaxed tracking-normal font-futura text-left">We believe it takes focus to create truly outstanding instruments. We only work on a few products and we strive to make them great.</h2>
    <p class="text-[1.1rem] font-light leading-relaxed tracking-normal font-futura text-left">Rather than having a one-size-fits-all process, we try to give our people what they need to work their magic and grow. We’ve learned that achieving the best results comes from building teams that are richly diverse, and thus able to explore problems from a wider set of perspectives. We don’t always agree with each other, but opinion and debate are valued and openly encouraged.</p>
</div>