<section class="flex flex-col items-center justify-center max-w-2xl mx-auto mb-48 gap-y-16">
    <div class="flex flex-col items-start justify-center gap-y-4">
        <iframe id="9sbnhgjeyxa" class="abl-w-100p abl-h-100p" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen="1" title="Why Ableton - Juanpe" width="640" height="360" src="https://www.youtube.com/embed/9SbnhgjeyXA?enablejsapi=1&amp;origin=https%3A%2F%2Fwww.ableton.com&amp;widgetid=1"></iframe>
        <span class="text-sm font-normal text-left text-black font-futura">Why Ableton - Juanpe Bolivar</span>
    </div>
    <div class="flex flex-col items-center justify-center mx-auto gap-y-8">
        <h2 class="text-[1.675rem] font-black leading-relaxed tracking-normal font-futura text-left">We are more than 350 people from 30 different countries divided between our headquarters in Berlin and our offices in Los Angeles and Tokyo.</h2>
        <p class="text-[1.1rem] font-light leading-relaxed tracking-normal font-futura text-left">Most of us are active musicians, producers, and DJs, and many of us use Live and Push every day. We come from a wide range of cultural and professional backgrounds. Some of us have PhDs, some are self-taught, and most of us are somewhere in between. What connects us is the shared belief that each of us has the skills and knowledge to contribute to something big: helping to shape the future of music culture.</p>
    </div>
</section>